name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
  pull_request:

permissions:
  contents: read

jobs:
  build-artifacts:
    name: Build artifacts
    runs-on: ubuntu-22.04

    steps:
      - name: Check out repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Set up .NET
        uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1

      - name: Build solution
        run: dotnet build

      - name: Lint
        run: dotnet format --verify-no-changes
